<!DOCTYPE html>
<html>
    <head>
        <script>const room_name = "<%= room_name %>"</script>
        <script>const userN = "<%= userN %>"</script>
        <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script defer src="script.js"></script>
        <style>
            body {
                background: rgb(130, 200, 250);
                font-family: Arial, Helvetica, sans-serif;
            }

            /*chat box*/
            .chat {
                background: white;
                position: fixed;
                max-width: 1230px;
                width: 80%;
                height: 98.5%;  
                left: 17.6%;
            }

            /*user messages*/
            #message {
                position: fixed;
                top: 5%;
                left: 17.6%;
            }
            
            /*send bar*/
            #send {
                position: fixed;
                padding: 40px;
                bottom: 0;
                max-width: 2000px;
                width: 60%;
                display: flex;
                left: 17.6%;
            }

            #message_input {
                flex-grow: 1;
            }

            #logout_button {
                font-family: Arial, Helvetica, sans-serif;
                padding: 0;
                margin: 0;
                font-size: 3ex;
                position: absolute;
                top: 1%;
                left: 95%;
            }
        
        </style>
        <title>
            Chat up
        </title>
    </head>

    <body>
        <div class = "chat">chat</div>
        <div id="message"></div>
        <form id = "send">
            <input type = "text" id = "message_input">
            <button type = "submit" id = "send_button">send</button>
        </form>
        <form action="/logout?_method=DELETE" method="POST" id = "logout_button">
            <button type="submit">Log Out</button>
        </form>
        <form action="/index" id = "return_create_rooms">
            <button type="submit">Go Back</button>
        </form>
    </body>
</html>
